/**
 * Override Parent Theme
 * -----------------------------------------------------------------------------
 */

// kill max-width 1600 
.site,
.navbar {max-width:none;}

a {text-decoration: underline;}

.main-navigation {
    min-height: inherit;
}

/**
 * Header
 * -----------------------------------------------------------------------------
 */

.navbar {background-color: #efefef;}

.red_line {border-top: 0.25rem solid #ef3b42;}

#masthead {
    min-height: 9.5rem;
    padding: 0 1rem;
    margin : auto;

    p {margin: 0 20px 0 0;
       a {color: @button-color;}
    }

    ul {padding: 0;}       

    a {
        text-decoration: none;
        &:hover {text-decoration: underline;}
    }
}

#button_signup {
    .linear-vertical-gradient (@vertical-gradient-red-start; @vertical-gradient-red-end);
    .my-font-size(14); //14px
    color: @button-color;
    font-family: montserrat;
    font-weight: normal;
    padding: 0 2rem 0.5rem 2rem;
    border-radius: 0 0 10px 10px;
    border-bottom: 1px solid #D61119;
    float: right;
    position: relative;
    content:"";
    z-index: 1;
    &:before { //square on the left
               content:"";
               position: absolute;
               width: 10px;
               height: 10px;
               left: -10px;
               background-color: @vertical-gradient-red-start;
               z-index: 2;
    }
    &:after { //square on the right
              content:"";
              position: absolute;
              width: 10px;
              height: 10px;
              right: -10px;
              background-color: @vertical-gradient-red-start;
              z-index: 2;
    } 
}

#signup {
    position: relative;
    float: right;

    &:before { //circular mask on the right
               content:"";
               position: absolute;
               width: 20px; 
               height: 20px;
               left:-20px;
               -webkit-border-radius: 10px;
               -moz-border-radius:    10px;
               border-radius:         10px;
               background-color: #fff;
               z-index: 3;
    }
    &:after { //circular mask on the left
              content:"";
              position: absolute;  
              width: 20px; 
              height: 20px;
              right:-20px;
              -webkit-border-radius: 10px;
              -moz-border-radius:    10px;
              border-radius:         10px;
              background-color: #fff; 
              z-index: 3;
    }
}

#button_signin {
    margin-right: 20px;
    a {color: #4D4D4D;}
    background-color: #fff;
    .my-font-size(14); //14px
    font-family: montserrat;
    font-weight: normal;
    padding: 0.3rem 2.5rem 0.2rem;
    border-radius: 0 0 10px 0;
    border-bottom: @red-border;
    float: right;
    position: relative;

    content:"";
    z-index: 0;
    &:before { //square on the left
               background-color: #FFFFFF;
               border-bottom: @red-border;
               content: "";
               height: 23px;
               left: -10px;
               position: absolute;
               width: 10px;
               z-index: 2;
    }

    &:after { //square on the right
              background-color: rgba(0, 0, 0, 0);
              border-left: @red-border;
              border-radius: 11px 0 0;
              content: "";
              height: 24px;
              position: absolute;
              right: -19px;
              top: -1px;
              transform: scale(0.999);
              width: 20px;
              z-index: 2;
    } 
}

#signin {
    position: relative;
    float: right;
    a {color: #4D4D4D;}
}

#logo {
    float: left;
    margin: 25px 0 0 0;

    a {
        .my-font-size(30); //30px
        font-family: montserrat;
        font-weight: bold;
        color: #4d4d4d;
    }

    h1 {
        margin:0;
        .my-font-size(30); //30px
        color: #4d4d4d; 
    }
}

#navbar {   
    float: right;
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0);

    li a {
        .my-font-size(15); //15px
        font-family: montserrat;
        font-weight: normal;
        color: #4d4d4d;
        padding: 10px 0px 3px 10px;
    }

    li a:hover {
        background-color: transparent;
        text-decoration: underline;
    }
}

#nav2 {
    float: right;
    text-align: right;
    width: 70%;

    li a { 
        .my-font-size(13); //13px
        font-weight: 300;
        color: #4d4d4d;
        padding: 5px 0px 5px 5px;
    }

    aside {
        float:right;
        margin: 0;
    }

    .widget {
        background-color: inherit;
        padding: 0 0 5px
    }

    .widget_polylang {
        padding-left: 5px;
    }

    .widget_nav_menu li {
        display: inline-block;
    }
}



/**
 * Footer 
 * -----------------------------------------------------------------------------
 */

footer a {text-decoration: none;}
footer a:hover {text-decoration: underline;}

#colophon {padding-bottom: 14px;}

.site-footer {
    background-color: @footer-bgcolor;
    color: @footer-color;
    .my-font-size(15); //15px
    .my-line-height(20); //20px

    .widget a {color: @footer-color;} /* presence obligéé ici car selecteur définit comme tel dans theme parent */
    a {color: @footer-color;}

    h2 {
        .my-font-size(20); //20px
        .my-line-height(20); //20px
        margin: 0 0 5px 0;
    }
}
.site-footer .sidebar-container {
    background-color: @footer-bgcolor;

    padding: 0;
}

#footer-tg-logo p{
    .my-font-size(30); //30px
    font-weight: bold;
}

.widget {
    margin: 0 1% 0 0;
    padding: 20px 20px 5px;
}
.widget li {padding:0;}

#footer-tg li:before,
#footer-and-also li:before {content: url(Images/chevron_small.png);}
#footer-social img {margin: 0 0 20px 15px;}
#footer-social a {display: inline-block;}

#footer2-1,
#footer2-2 {
    .my-font-size(13); //13px
    .my-line-height(15); //15px
}

#footer2-1 {margin-bottom: 0.4em;}

#footer2-2 {
    font-weight: 300; /* Open_Sans light */
    margin-bottom: 0;
}


/**
 * 11.0 Media Queries
 * -----------------------------------------------------------------------------
 */

@media screen and (min-width: 1040px) {

    .widget {padding: 0 0.5% 5px;}

    #footer-tg-logo     {
        width:30%;   
    }
    #footer-tg          {
        width:20%;     
    }
    #footer-and-also    {
        width:20%;     
    }
    #footer-social      {
        width:20%;
    }
}

@media (max-width: 1039px) {
}

@media (min-width: 644px) {
    #masthead {   
        max-width: 96rem;
    } 
    #logo {width : 30%;}  
    #navbar { 
        text-align: right;
        width : 70%;
    }   
}
@media (max-width: 643px) {
    text-align: left;
}

@media (min-width: 480px) {
}

@media (max-width: 353px) {
}

