/**
 * Offer page
 * -----------------------------------------------------------------------------
 */

#services,
#training,
#saas {
    .my-font-size(18); //18px
    .my-line-height(22); //22px
    padding : 20px 0 20px 0;
    h2, 
    h3, 
    p {color: #666;}
    h2 {
        .my-font-size(28); 
        .my-line-height(36); 
    }
    h3 {
        .my-font-size(23); 
        .my-line-height(30); 
    }
    li {
        /*        display: inline-block;
                vertical-align: top;*/
        padding: 15px;
        list-style-type: none;
        /*        width: 300px;*/
    }
    a {
        color: #fff;
        text-decoration: none;
        &:hover {text-decoration: underline;}
    }
}


.contact_us {
    .my-font-size(30); //30px
    .my-line-height(45); //45px
    font-weight:bold;
    padding: 10px 20px 6px;
    position: relative;
}

.type {
    background-color: #4d4d4d;
    font-weight : normal;
    color : #fff;
    text-align: center;
}

.project {
    border-radius: 5px 5px 0 0;
}

.lower_column {
    border-top: 20px solid #fff;
    height: 60px;
}

.left_shadow {box-shadow: -3px 0 4px -4px #000000 inset;}
.righ_shadow {box-shadow: 3px 0 4px -4px #000000 inset;}

tr,
th,
td,
table {border: 0;}

td {
    min-width : 200px;
    height : 40px;
    text-align: center;
}

table {
    .my-font-size(18); //18px
    .my-line-height(22); //22px
    margin: 35px 0 70px 0;
}

/**
 * 11.0 Media Queries
 * -----------------------------------------------------------------------------
 */

@media (max-width: 953px) {

}  
