@import url("../twentythirteen/style.css");
/*
Theme Name: Twenty Thirteen (Child) Blog.Tanaguru.com
Theme URI: TBD
Author: Matthieu Faure
Author URI: http://www.tanaguru.com/
Description: Theme dedicated to Blog.Tanaguru.com based on theme Twenty Thirteen 
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: blogtg
Template: twentythirteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
@font-face {
  font-family: 'montserrat';
  src: url('Fonts/montserrat-regular-webfont.eot');
  src: url('Fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'), url('Fonts/montserrat-regular-webfont.woff') format('woff'), url('Fonts/montserrat-regular-webfont.ttf') format('truetype'), url('Fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url('Fonts/montserrat-bold-webfont.eot');
  src: url('Fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'), url('Fonts/montserrat-bold-webfont.woff') format('woff'), url('Fonts/montserrat-bold-webfont.ttf') format('truetype'), url('Fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'open_sans';
  src: url('Fonts/opensans-bold-webfont.eot');
  src: url('Fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('Fonts/opensans-bold-webfont.woff') format('woff'), url('Fonts/opensans-bold-webfont.ttf') format('truetype'), url('Fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'open_sans';
  src: url('Fonts/opensans-bolditalic-webfont.eot');
  src: url('Fonts/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('Fonts/opensans-bolditalic-webfont.woff') format('woff'), url('Fonts/opensans-bolditalic-webfont.ttf') format('truetype'), url('Fonts/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'open_sans';
  src: url('Fonts/opensans-extrabold-webfont.eot');
  src: url('Fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('Fonts/opensans-extrabold-webfont.woff') format('woff'), url('Fonts/opensans-extrabold-webfont.ttf') format('truetype'), url('Fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'open_sans';
  src: url('Fonts/opensans-extrabolditalic-webfont.eot');
  src: url('Fonts/opensans-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('Fonts/opensans-extrabolditalic-webfont.woff') format('woff'), url('Fonts/opensans-extrabolditalic-webfont.ttf') format('truetype'), url('Fonts/opensans-extrabolditalic-webfont.svg#open_sansextrabold_italic') format('svg');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'open_sans';
  src: url('Fonts/opensans-italic-webfont.eot');
  src: url('Fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'), url('Fonts/opensans-italic-webfont.woff') format('woff'), url('Fonts/opensans-italic-webfont.ttf') format('truetype'), url('Fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'open_sans';
  src: url('Fonts/opensans-light-webfont.eot');
  src: url('Fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('Fonts/opensans-light-webfont.woff') format('woff'), url('Fonts/opensans-light-webfont.ttf') format('truetype'), url('Fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'open_sans';
  src: url('Fonts/opensans-lightitalic-webfont.eot');
  src: url('Fonts/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('Fonts/opensans-lightitalic-webfont.woff') format('woff'), url('Fonts/opensans-lightitalic-webfont.ttf') format('truetype'), url('Fonts/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'open_sans';
  src: url('Fonts/opensans-regular-webfont.eot');
  src: url('Fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('Fonts/opensans-regular-webfont.woff') format('woff'), url('Fonts/opensans-regular-webfont.ttf') format('truetype'), url('Fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sans';
  src: url('Fonts/opensans-semibold-webfont.eot');
  src: url('Fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('Fonts/opensans-semibold-webfont.woff') format('woff'), url('Fonts/opensans-semibold-webfont.ttf') format('truetype'), url('Fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'open_sans';
  src: url('Fonts/opensans-semibolditalic-webfont.eot');
  src: url('Fonts/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('Fonts/opensans-semibolditalic-webfont.woff') format('woff'), url('Fonts/opensans-semibolditalic-webfont.ttf') format('truetype'), url('Fonts/opensans-semibolditalic-webfont.svg#open_sanssemibold_italic') format('svg');
  font-weight: 600;
  font-style: italic;
}
html,
button,
input,
select,
textarea {
  font-family: open_sans, Helvetica, sans-serif;
}
html {
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: Montserrat, Helvetica, sans-serif;
  line-height: 1.3;
}

/* ====================
        HEADER
 =====================*/

.site,
.navbar {
  max-width: none;
}

.red_line {
  border-top: 0.25rem solid #ef3b42;
}

#masthead {
  min-height: 9.5rem;
  padding: 0 1rem;
  margin: auto;
}

#masthead a {
  color: white;
}

#masthead p {
  margin: 0 20px 0 0;
}

#masthead ul {
  padding: 0;
}

#masthead {
  min-height: 9.5rem;
  padding: 0 1rem;
  margin: auto;
}

#masthead a {
  color: white;
}

#masthead p {
  margin: 0 20px 0 0;
}

#masthead ul {
  padding: 0;
}

#button_signup {
  background: #ef3b42;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: -webkit-linear-gradient(top, #ef3b42 0%, #d61119 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, #ef3b42 0%, #d61119 100%);
  /* W3C */
  background: -moz-linear-gradient(top, #ef3b42 0%, #d61119 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #ef3b42 0%, #d61119 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #ef3b42 0%, #d61119 100%);
  /* Opera 11.10+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d61119), color-stop(100%, #d61119));
  /* Chrome,Safari4+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ef3b42, endColorstr=#d61119, GradientType=0);
  /* IE6-9 */
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 21px;
  line-height: 2.1rem;
  color: white;
  font-family: montserrat;
  font-weight: normal;
  padding: 0 2rem 0.5rem 2rem;
  border-radius: 0 0 10px 10px;
  border-bottom: 1px solid #D61119;
  float: right;
  position: relative;
  content: "";
  z-index: 1;
}

#button_signup:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: -10px;
  background-color: #ef3b42;
  z-index: 2;
}

#button_signup:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  right: -10px;
  background-color: #ef3b42;
  z-index: 2;
}

#signup {
  position: relative;
  float: right;
}

#signup:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #fff;
  z-index: 3;
}

#signup:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: -20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #fff;
  z-index: 3;
}

#button_signin {
  margin-right: 20px;
  background-color: #fff;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 21px;
  line-height: 2.1rem;
  font-family: montserrat;
  font-weight: normal;
  padding: 0.3rem 2.5rem 0.2rem;
  border-radius: 0 0 10px 0;
  border-bottom: 1px solid rgba(224, 103, 103, 0.15);
  float: right;
  position: relative;
  content: "";
  z-index: 0;
}

#button_signin a {
  color: #4d4d4d;
}

#button_signin:before {
  background-color: #FFFFFF;
  border-bottom: 1px solid rgba(224, 103, 103, 0.15);
  content: "";
  height: 23px;
  left: -10px;
  position: absolute;
  width: 10px;
  z-index: 2;
}

#button_signin:after {
  background-color: rgba(0, 0, 0, 0);
  border-left: 1px solid rgba(224, 103, 103, 0.15);
  border-radius: 11px 0 0;
  content: "";
  height: 24px;
  position: absolute;
  right: -19px;
  top: -1px;
  transform: scale(0.999);
  width: 20px;
  z-index: 2;
}

#signin {
  position: relative;
  float: right;
}

#signin a {
  color: #4d4d4d;
}

#logo {
  float: left;
  margin: 15px 0 0 0;
}

#logo a {
  font-size: 30px;
  font-size: 3rem;
  line-height: 45px;
  line-height: 4.5rem;
  font-family: montserrat;
  font-weight: bold;
  color: #4d4d4d;
}

#logo h1 {
  margin: 0;
  font-size: 30px;
  font-size: 3rem;
  line-height: 45px;
  line-height: 4.5rem;
  color: #4d4d4d;
}

#logo img,
#logo span {
  display: inline-block;
  vertical-align: middle;
}

#logo img {
  width: 70px;
}

@media (min-width: 644px) {
  #masthead {
    max-width: 96rem;
  }
  #logo {
    width: 30%;
  }
  #navbar {
    text-align: right;
    width: 70%;
  }
}

#page_title_gradient {
  min-height: 125px;
  background: #00d9f0;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: -webkit-radial-gradient(center, ellipse cover, #00d9f0 0%, #008594 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-radial-gradient(center, ellipse cover, #00d9f0 0%, #008594 100%);
  /* FF3.6+ */
  background: -ms-radial-gradient(center, ellipse cover, #00d9f0 0%, #008594 100%);
  /* IE10+ */
  background: -o-radial-gradient(center, ellipse cover, #00d9f0 0%, #008594 100%);
  /* Opera 12+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #00d9f0), color-stop(100%, #008594));
  /* Chrome,Safari4+ */
  background: radial-gradient(ellipse at center, #00d9f0 0%, #008594 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00d9f0, endColorstr=#008594, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

#page_title_filter {
  display: inline-block;
  position: relative;
  vertical-align: -8px;
  border-bottom: 125px solid rgba(255, 255, 255, 0.3);
  border-left: 0 solid rgba(0, 0, 0, 0);
  border-right: 72px solid rgba(0, 0, 0, 0);
  height: 0;
  width: 41%;
  transform: scale(0.999);
}

#page_title {
  display: inline-block;
  position: relative;
  vertical-align: 47px;
  margin: 0 0 0 -20px;
  padding: 10px 25px 10px 2px;
  background-color: #fff;
  border-radius: 0 3px 3px 0;
}

#page_title:before {
  content: "";
  border-left: 32px solid rgba(0, 0, 0, 0);
  border-top: 53px solid #FFFFFF;
  width: 2px;
  height: 0;
  position: absolute;
  top: 0;
  left: -33px;
  transform: scale(0.999);
}

#page_title h1 {
  font-size: 25px;
  font-size: 2.5rem;
  line-height: 32.5px;
  line-height: 3.25rem;
  font-weight: bold;
  color: #4d4d4d;
  margin: 0 0 0 0;
}

@media screen and (max-width: 770px) {
  #page_title {
    position: absolute;
    top: 35px;
    left: 0px;
    margin: 0;
    padding: 10px;
    min-width: 180px;
    text-align: center;
  }
}

/* ====================
      NAVIGATION
 =====================*/ 

header a {
  text-decoration: none;
}

.navbar {
  background-color: #efefef;
}

#navbar {
  float: right;
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0);
}

#navbar a {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 15px;
  line-height: 1.5rem;
  font-family: montserrat;
  font-weight: normal;
  color: #4d4d4d;
  padding: 10px 0px 3px 10px;
}

#navbar a:hover,
#navbar a:focus {
  background-color: transparent;
  text-decoration: underline;
}

/* ====================
        CONTENT
 =====================*/ 

.entry-meta span {
  color: #bc360a;
}

.entry-meta .author span:before {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font: normal 16px/1 Genericons;
  vertical-align: text-bottom;
  content: "\f304";
  position: relative;
  top: -1px;
}

.hentry {
  list-style: none;
}

.list-articles {
  padding-left: 0;
  margin-top: 0;
}

.entry-content {
  font-size: 1.6rem;
}

/* ====================
        FOOTER
 =====================*/ 

.site-footer {
  background-color: #3F3F3F;
  color: #fff;
  padding-bottom: 14px;
}

#footer-tg-logo p {
  font-size: 3rem;
  line-height: 1.25rem;
  font-weight: bold;
}

.site-footer a {
  color: #fff;
}

.site-footer .widget ul {
  line-height: 1.45;
}

.site-footer .widget a {
  color: #fff;
}

.site-footer h2 {
  font-size: 2rem;
  line-height: 2rem;
  margin: 0 0 5px 0;
}

.widget {
  margin: 0 1% 0 0;
  padding: 20px 20px 5px;
}

.widget li {
  padding: 0;
}

#evaluate {
    padding: 60px 30px 130px;
}

#footer-tg li:before, #footer-and-also li:before {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAALCAYAAACzkJeoAAAAVElEQVR42mL4//9/IBCvAmJmBiQA5IOJi/8hYAI2SVUgfg1VUIAiCWVYAfE3IP4LxMEoklBOMFTyG1QxAwOaPaugxl8jTidOO/G6lpA/cYYQQIABAKbNraSJDbzuAAAAAElFTkSuQmCC);
}

#footer-social a {
  display: inline-block;
}

#footer-social img {
  margin: 0px 0 20px 15px;
}

#footer2-1, 
#footer2-2 {
  font-size: 1.3rem;
  line-height: 1.5rem;
}

#footer2-1 a,
#footer2-2 a {
  text-decoration: underline;
}

#footer2-1 {
  margin-bottom: 0.4em;
}

#footer2-2 {
  font-weight: 300;
  margin-bottom: 0;
}

@media screen and (min-width: 1040px) {
  .widget {
    padding: 0 0.5% 5px;
  }

  #footer-tg-logo {
    width: 30%;
  }

  #footer-tg,
  #footer-and-also,
  #footer-social {
    width: 20%;
  }
}

#evaluate {
    padding: 60px 30px 130px;
}

@media (max-width: 899px) {
  #evaluate {
      padding: 0;
  }
}

@media screen and (min-width: 900px) {
  #evaluate {
    background-image: url(../twentythirteen-www-tg/Images/Background/footer_mountains.png), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAASCAIAAAAVNSPrAAAAEklEQVQI12Owt7dnYmBgoBQDADi+AOAzu3mLAAAAAElFTkSuQmCC);
    background-repeat: no-repeat, repeat-x;
    background-position: bottom center, bottom;
    min-height: 250px;
  }
}