.SpriteTanaguru, .SpriteTanaguru-chevron, .SpriteTanaguru-data, .SpriteTanaguru-flipflops, .SpriteTanaguru-gears, .SpriteTanaguru-machine, .SpriteTanaguru-step1, .SpriteTanaguru-step2, .SpriteTanaguru-step3, .SpriteTanaguru-step4, .SpriteTanaguru-tg-logo-footer, .SpriteTanaguru-tg-logo-header {
  background: url('Images/Sprites/SpriteTanaguru-sab30b9cbc3.png') no-repeat;
}

.SpriteTanaguru-chevron {
  background-position: 0 0;
  height: 31px;
  width: 20px;
}

.SpriteTanaguru-data {
  background-position: -158px 0;
  height: 80px;
  width: 93px;
}

.SpriteTanaguru-flipflops {
  background-position: -98px 0;
  height: 70px;
  width: 60px;
}

.SpriteTanaguru-gears {
  background-position: -251px 0;
  height: 88px;
  width: 76px;
}

.SpriteTanaguru-machine {
  background-position: 0 -161px;
  height: 260px;
  width: 952px;
}

.SpriteTanaguru-step1 {
  background-position: -783px 0;
  height: 161px;
  width: 152px;
}

.SpriteTanaguru-step2 {
  background-position: -479px 0;
  height: 161px;
  width: 152px;
}

.SpriteTanaguru-step3 {
  background-position: -327px 0;
  height: 161px;
  width: 152px;
}

.SpriteTanaguru-step4 {
  background-position: -631px 0;
  height: 161px;
  width: 152px;
}

.SpriteTanaguru-tg-logo-footer {
  background-position: -20px 0;
  height: 33px;
  width: 33px;
}

.SpriteTanaguru-tg-logo-header {
  background-position: -53px 0;
  height: 45px;
  width: 45px;
}
